// Integration checklist for packages/apps/Car/SystemUI/Android.bp
//
// android_app {
//     name: "CarSystemUI",
//     static_libs: [
//         ...
//         "CarSysuiScalableBarControllers",
//     ],
// }
//
// In PanelControllerModule (or sibling module):
//   include CarSysuiScalableBarControllerModule
//
// After rebuild, switch OemDemoRRO overlays.xml to:
//   window_states_pleos / config_default_activities_pleos
// or run: ./scripts/deploy_ui.sh --mode pleos
//
// Vendor path:
//   vendor/aospstack/ScalableUI/systemui/CarSysuiScalableBarControllers
